<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.mdao.CprandcomMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.Cprandcom">
    <id column="cproid" jdbcType="INTEGER" property="cproid" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      根据主键删除
    -->
    delete from cprandcom
    where cproid = #{cproid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.demo.pojo.Cprandcom">
    <!--
      WARNING - @mbg.generated
      新增
    -->
    insert into cprandcom (cproid, cprid, comid
      )
    values (#{cproid,jdbcType=INTEGER}, #{cpr.cprid,jdbcType=INTEGER}, #{com.comid,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.Cprandcom">
    <!--
      WARNING - @mbg.generated
      修改
    -->
    update cprandcom
    set cprid = #{cprid,jdbcType=INTEGER},
      comid = #{comid,jdbcType=INTEGER}
    where cproid = #{cproid,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      根据主键查询
    -->
    select cproid
    from cprandcom
    where cproid = #{cproid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      查询全部
    -->
    select cproid
    from cprandcom
  </select>
</mapper>