<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.mdao.CpyandcomMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.Cpyandcom">
    <id column="cpcoid" jdbcType="INTEGER" property="cpcoid" />
    <result column="comid" jdbcType="INTEGER" property="comid" />
    <result column="cpyid" jdbcType="INTEGER" property="cpyid" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      根据主键删除
    -->
    delete from cpyandcom
    where cpcoid = #{cpcoid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.demo.pojo.Cpyandcom">
    <!--
      WARNING - @mbg.generated
      新增
    -->
    insert into cpyandcom (cpcoid, comid, cpyid)
    values (#{cpcoid,jdbcType=INTEGER}, #{com.comid,jdbcType=INTEGER}, #{cpy.cpyid,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.Cpyandcom">
    <!--
      WARNING - @mbg.generated
      修改
    -->
    update cpyandcom
    set comid = #{comid,jdbcType=INTEGER},
      cpyid = #{cpyid,jdbcType=INTEGER}
    where cpcoid = #{cpcoid,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      根据主键查询
    -->
    select cpcoid
    from cpyandcom
    where cpcoid = #{cpcoid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      查询全部
    -->
    select cpcoid
    from cpyandcom
  </select>
</mapper>