<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.mdao.ShoppingMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.Shopping">
    <id column="shid" jdbcType="INTEGER" property="shid" />
    <result column="cid3" jdbcType="INTEGER" property="cid3" />
    <result column="comid" jdbcType="INTEGER" property="comid" />
    <result column="stype" jdbcType="INTEGER" property="stype" />
  </resultMap>


  <resultMap id="oldResult" type="com.demo.pojo.Shopping">
    <id column="shid" jdbcType="INTEGER" property="shid" />
    <result column="stype" jdbcType="INTEGER" property="stype" />
    <result column="number" property="number"/>
    <association property="com" javaType="com.demo.pojo.SpCommodity">
      <id column="comid" property="comid"/>
    </association>
  </resultMap>

  <!--拿到所有要添加订单的购物车id   把他们的状态改为0&#45;&#45;不可见
  Integer up_ships(@Param("ship_list")List<Integer> ship_list)-->
  <update id="up_ships" parameterType="java.lang.Integer">
    update shopping set stype = 0
    <where>
      <if test="ship_list.size>0 and ship_list != null">
        <foreach collection="ship_list" item="i" separator="or">
          shid = #{i}
        </foreach>
      </if>
    </where>
  </update>

  <!--如果商品已经存在购物车  那么累加数量
  Integer up_cartNum(@Param("number") Integer number,@Param("shid")Integer shid)-->
  <update id="up_cartNum" >
    update shopping set number = #{number } where shid = #{shid}
  </update>


  <!--根据新增商品的ID  查看购物车是否存在
  Shopping s_oldShopping(Integer comid)-->
  <select id="s_oldShopping" resultMap="oldResult">
    select s.* ,sp.* from shopping s
    left join sp_commodity sp on sp.comid = s.comid
    where s.comid = #{comid} and s.stype>0
  </select>

  <!--添加一条购物信息
  Integer add_carts(@Param("c") Shopping cart)-->
  <insert id="add_carts" parameterType="com.demo.pojo.Shopping">
    insert into shopping(cid3,comid,stype,number)
    values (#{customer.cid3,jdbcType=INTEGER},#{com.comid,jdbcType=INTEGER},1,#{number,jdbcType=INTEGER})
  </insert>

  <!--添加订单详情
  Integer add_Orderinfo(@Param("l")List<OrderInfo> l)-->
  <insert id="add_Orderinfo" >
    insert into order_info (coms,comprice,comid,o_id)
    values
    <foreach collection="l" item="i"  index="index" open="" close="" separator=",">
      (#{i.coms},#{i.comprice},#{i.com.comid},#{i.order.oId})
    </foreach>
  </insert>

  <!--添加一条订单
  Integer add_Order(@Param("o") Orders o)-->
  <insert id="add_Order" useGeneratedKeys="true" keyProperty="oId">
    insert into orders(cid3,o_date,pay,price,orsip,adid,remarks,ortype)
    values (#{o.customer.cid3},#{o.oDate},#{o.pay},#{o.price},'顺丰',#{o.address.adid},#{o.remarks},'未发货')

  </insert>

  <!--根据购物车ID  删除一条购物记录
  Integer d_Cart_ByID(List<Integer> ship)-->
  <update id="d_Cart_ByID" parameterType="java.lang.Integer">
    update shopping s set  s.stype = 0
    <where>
      <if test="ship!=null and ship.size>0">
        <foreach collection="ship" item="id" >
           or s.shid = #{id}
        </foreach>
      </if>
    </where>
  </update>

  <resultMap id="cartResultMap" type="com.demo.pojo.Shopping">
    <id column="shid" property="shid"/>
    <result column="stype" property="stype"/>
    <result column="number" property="number"/>
    <association property="customer" javaType="com.demo.pojo.Customer" column="cid3" select="com.demo.model.mdao.ShoppingMapper.s_Address">
      <id column="cid3" jdbcType="INTEGER" property="cid3" />
      <result column="cname" jdbcType="VARCHAR" property="cname" />
      <result column="cphone" jdbcType="VARCHAR" property="cphone" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="chead" jdbcType="VARCHAR" property="chead" />
    </association>
    <association property="com" javaType="com.demo.pojo.SpCommodity">
      <id column="comid" property="comid"/>
      <result column="comiszu" property="comiszu"/>
      <result column="combarcode" property="combarcode"/>
      <result column="comname" property="comname"/>
      <result column="comsameprice" property="comsameprice"/>
      <result column="compricemin" property="compricemin"/>
      <result column="compricemax" property="compricemax"/>
      <result column="commarketprice" property="commarketprice"/>
      <result column="comweight" property="comweight"/>
      <result column="comvolume" property="comvolume"/>
      <result column="comsalesvolume" property="comsalesvolume"/>
      <result column="comsalesstatus" property="comsalesstatus"/>
      <result column="comdata" property="comdata"/>
      <collection property="pics" ofType="com.demo.pojo.SpPicturetocom"
                  column="comid" select="com.demo.model.mdao.ShoppingMapper.s_GoodsImg">
        <id column="ptcid" property="ptcid"/>
        <result column="ptciszhu" jdbcType="INTEGER" property="ptciszhu" />
        <association property="pic" javaType="com.demo.pojo.SpPicture">
          <id column="picid" jdbcType="INTEGER" property="picid" />
          <result column="picpath" jdbcType="VARCHAR" property="picpath" />
        </association>
      </collection>
    </association>
  </resultMap>
  <!--查询所有购物车==根据客户ID
  List<Shopping> s_Carts(Integer cid)-->
  <select id="s_Carts" resultMap="cartResultMap">
    select s.*, sh.* from shopping sh
    LEFT JOIN customer c on sh.cid3 = c.cid3
    LEFT JOIN sp_commodity s on s.comid = sh.comid
    where sh.cid3 = #{cid} and  sh.stype &gt; 0
  </select>

  <!--地址ResultMap-->
  <resultMap id="AddressResultMap" type="com.demo.pojo.Customer">
    <id column="cid3" jdbcType="INTEGER" property="cid3" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="cphone" jdbcType="VARCHAR" property="cphone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="chead" jdbcType="VARCHAR" property="chead" />
    <collection property="address" ofType="com.demo.pojo.Address">
      <id column="adid" jdbcType="INTEGER" property="adid" />
      <result column="adprovince" jdbcType="VARCHAR" property="adprovince" />
      <result column="adcity" jdbcType="VARCHAR" property="adcity" />
      <result column="adarea" jdbcType="VARCHAR" property="adarea" />
      <result column="addetailed" jdbcType="VARCHAR" property="addetailed" />
      <result column="adisdelete" jdbcType="VARCHAR" property="adisdelete" />
      <result column="adisdefault" jdbcType="VARCHAR" property="adisdefault" />
    </collection>
  </resultMap>
  <!--根据用户id  查询地址
  List<Customer> s_Address(Integer cid);-->
  <select id="s_Address" resultMap="AddressResultMap">
    select a.*,c.* from  customer c
    left join address a on a.cid3 = c.cid3
    where a.cid3 = #{cid}
  </select>


  <resultMap id="shoppResult" type="com.demo.pojo.SpCommodity">
    <id column="comid" property="comid"/>
    <result column="comiszu" property="comiszu"/>
    <result column="combarcode" property="combarcode"/>
    <result column="comname" property="comname"/>
    <result column="comsameprice" property="comsameprice"/>
    <result column="compricemin" property="compricemin"/>
    <result column="compricemax" property="compricemax"/>
    <result column="commarketprice" property="commarketprice"/>
    <result column="comweight" property="comweight"/>
    <result column="comvolume" property="comvolume"/>
    <result column="comsalesvolume" property="comsalesvolume"/>
    <result column="comsalesstatus" property="comsalesstatus"/>
    <result column="comdata" property="comdata"/>
    <collection property="pics" ofType="com.demo.pojo.SpPicturetocom"
                column="comid" select="com.demo.model.mdao.ShoppingMapper.s_GoodsImg">
      <id column="ptcid" property="ptcid"/>
      <result column="ptciszhu" jdbcType="INTEGER" property="ptciszhu" />
      <association property="pic" javaType="com.demo.pojo.SpPicture">
        <id column="picid" jdbcType="INTEGER" property="picid" />
        <result column="picpath" jdbcType="VARCHAR" property="picpath" />
      </association>
    </collection>

    <collection property="cprs" ofType="com.demo.pojo.Cprandcom"
                column="comid" select="com.demo.model.mdao.ShoppingMapper.s_Goodscpr">
      <id column="cproid" property="cproid"/>
      <association property="cpr" javaType="com.demo.pojo.SpCommodityparameter">
        <id column="cprid" property="cprid"/>
        <result column="cprname" property="cprname"/>
      </association>
    </collection>

    <collection property="cpys" ofType="com.demo.pojo.Cpyandcom"
                column="comid" select="com.demo.model.mdao.ShoppingMapper.s_Goodscpy">
      <id column="cpcoid" property="cpcoid" />
      <association property="cpy" javaType="com.demo.pojo.SpCommodityproperty">
        <id column="cpyid" property="cpyid"/>
        <result column="cpyname" property="cpyname"/>
        <result column="cprtopid" property="cprtopid"/>
      </association>
    </collection>

  </resultMap>

  <!--属性ResultMap-->
  <resultMap id="cpyResult" type="com.demo.pojo.Cpyandcom">
    <id column="cpcoid" property="cpcoid"/>
    <association property="cpy" javaType="com.demo.pojo.SpCommodityproperty" >
      <id column="cpyid" property="cpyid"/>
      <result column="cpyname" property="cpyname"/>
      <result column="cpytopid" property="cpytopid"/>
    </association>
  </resultMap>

  <!--根据商品ID  查询商品属性
  List<SpCommodityproperty> s_Goodscpy(Integer goodsID)-->
  <select id="s_Goodscpy" resultMap="cpyResult">
    select cpy.*, y.*, y.cpyid as cpyid from cpyandcom y left join sp_commodityproperty cpy
    on y.cpyid = cpy.cpyid  where y.comid = #{comid}
  </select>



  <!--参数ResultMap-->
  <resultMap id="cprResult" type="com.demo.pojo.Cprandcom">
    <id column="cproid" property="cproid"/>
    <association property="cpr" javaType="com.demo.pojo.SpCommodityparameter">
      <id column="cprid" property="cprid"/>
      <result column="cprtopid" property="cprtopid"/>
      <result column="cprname" property="cprname"/>
    </association>
  </resultMap>


  <!--根据商品ID  查询商品参数
  List<SpCommodityparameter> s_Goodscpr(Integer goodsID)-->
  <select id="s_Goodscpr" resultMap="cprResult">
    select cpr.*, r.* from cprandcom r inner join sp_commodityparameter cpr
    on r.cprid = cpr.cprid  where r.comid = #{comid}
  </select>
  <!--查询商品多种参数  子查询
  List<SpCommodityparameter> s_GoodsParam(Integer cprid)-->
  <!--<select id="s_GoodsParam" resultMap="cprResult">
    select cpr.* from sp_commodityparameter cpr where cpr.cprtopid = #{cprid}
  </select>-->

  <!--图片-->
  <resultMap id="picResult" type="com.demo.pojo.SpPicturetocom">
    <id column="ptcid" jdbcType="INTEGER" property="ptcid" />
    <result column="ptciszhu" jdbcType="INTEGER" property="ptciszhu" />
    <association property="pic" javaType="com.demo.pojo.SpPicture">
      <id column="picid" jdbcType="INTEGER" property="picid" />
      <result column="picpath" jdbcType="VARCHAR" property="picpath" />
    </association>
  </resultMap>
  <!--根据商品ID 查询商品图片
  List<SpPicture> s_GoodsImg(Integer goodsID)-->
  <select id="s_GoodsImg" resultMap="picResult">
    select p.*,c.* from sp_picturetocom p  inner join sp_picture c on p.picid=c.picid where p.comid = #{comid}
  </select>





  <!--根据商品ID  查看商品信息
  List<SpCommodity> s_GoodsXiangQing(Integer goodsID)-->
  <select id="s_GoodsXiangQing" resultMap="shoppResult">
    select go.* from sp_commodity go
    where go.comid = #{goodsID}
  </select>


  <!--根据商品分类id  查询该分类的所有商品
  List<SpCommodity> s_Goods(Integer goodsTypeID)-->
  <select id="s_Goods" resultMap="shoppResult">
    select g.* from sp_commodity g WHERE g.ccyid = #{goodsTypeID}
  </select>


  <resultMap id="goodstypeResult" type="com.demo.pojo.SpCommoditycategory">
    <id column="ccyid" property="ccyid"/>
    <result column="ccyname" property="ccyname"/>
    <result column="ccytopid" property="ccytopid"/>
  </resultMap>
   <!--查询所有商品分类
   List<SpCommoditycategory> s_GoodsType()-->
  <select id="s_GoodsType" resultMap="goodstypeResult">
    select sc.* from sp_commoditycategory sc
  </select>






  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from shopping
    where shid = #{shid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.pojo.Shopping">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into shopping (shid, cid3, comid, 
      stype)
    values (#{shid,jdbcType=INTEGER}, #{cid3,jdbcType=INTEGER}, #{comid,jdbcType=INTEGER}, 
      #{stype,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.Shopping">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update shopping
    set cid3 = #{cid3,jdbcType=INTEGER},
      comid = #{comid,jdbcType=INTEGER},
      stype = #{stype,jdbcType=INTEGER}
    where shid = #{shid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select shid, cid3, comid, stype
    from shopping
    where shid = #{shid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select shid, cid3, comid, stype
    from shopping
  </select>
</mapper>