<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.mdao.SpCommoditylabelMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.SpCommoditylabel">
    <id column="cllid" jdbcType="INTEGER" property="cllid" />
    <result column="cllname" jdbcType="VARCHAR" property="cllname" />
  </resultMap>

  <resultMap id="BaseResultMapAndCom" type="com.demo.pojo.SpCommoditylabel">
    <id column="cllid" jdbcType="INTEGER" property="cllid" />
    <result column="cllname" jdbcType="VARCHAR" property="cllname" />
    <collection property="coms" ofType="com.demo.pojo.SpCommodity" select="com.demo.model.mdao.SpCommodityMapper.selectAllByCllid" column="cllid">
      <id column="comid" jdbcType="INTEGER" property="comid" />
      <result column="comiszu" jdbcType="INTEGER" property="comiszu" />
      <result column="combarcode" jdbcType="VARCHAR" property="combarcode" />
      <result column="comname" jdbcType="VARCHAR" property="comname" />
      <result column="comsameprice" jdbcType="DECIMAL" property="comsameprice" />
      <result column="compricemin" jdbcType="DECIMAL" property="compricemin" />
      <result column="compricemax" jdbcType="DECIMAL" property="compricemax" />
      <result column="commarketprice" jdbcType="DECIMAL" property="commarketprice" />
      <result column="comweight" jdbcType="DECIMAL" property="comweight" />
      <result column="comvolume" jdbcType="DECIMAL" property="comvolume" />
      <result column="comsalesvolume" jdbcType="INTEGER" property="comsalesvolume" />
      <result column="comsalesstatus" jdbcType="INTEGER" property="comsalesstatus" />
      <result column="comdata" jdbcType="TIMESTAMP" property="comdata" />
    </collection>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      根据主键删除
    -->
    delete from sp_commoditylabel
    where cllid = #{cllid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.demo.pojo.SpCommoditylabel">
    <!--
      WARNING - @mbg.generated
      新增
    -->
    insert into sp_commoditylabel (cllid, cllname)
    values (#{cllid,jdbcType=INTEGER}, #{cllname,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.SpCommoditylabel">
    <!--
      WARNING - @mbg.generated
      修改
    -->
    update sp_commoditylabel
    set cllname = #{cllname,jdbcType=VARCHAR}
    where cllid = #{cllid,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      根据主键查询
    -->
    select cllid, cllname
    from sp_commoditylabel
    where cllid = #{cllid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      查询全部
    -->
    select cllid, cllname
    from sp_commoditylabel
  </select>

  <select id="selectAllAndCom" resultMap="BaseResultMapAndCom">
    <!--
      WARNING - @mbg.generated
      带条件的联合商品查询全部标签
    -->
    select cllid, cllname
    from sp_commoditylabel
    <where>
      <if test="canshu!=null and canshu!=''">
        and cllname like concat('%',#{canshu,jdbcType=VARCHAR},'%')
      </if>
    </where>
    order by cllid desc
  </select>
</mapper>