<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.mdao.SpCommoditytoproMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.SpCommoditytopro">
    <id column="ctpid" jdbcType="INTEGER" property="ctpid" />
    <result column="lid" jdbcType="INTEGER" property="lid" />
    <result column="comid" jdbcType="INTEGER" property="comid" />
    <result column="ctpnum" jdbcType="INTEGER" property="ctpnum" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      根据主键删除
    -->
    delete from sp_commoditytopro
    where ctpid = #{ctpid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.demo.pojo.SpCommoditytopro">
    <!--
      WARNING - @mbg.generated
      新增
    -->
    insert into sp_commoditytopro (ctpid, lid, comid, 
      ctpnum)
    values (#{ctpid,jdbcType=INTEGER}, #{products.lid,jdbcType=INTEGER}, #{com.comid,jdbcType=INTEGER},
      #{ctpnum,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.SpCommoditytopro">
    <!--
      WARNING - @mbg.generated
      修改
    -->
    update sp_commoditytopro
    set lid = #{lid,jdbcType=INTEGER},
      comid = #{comid,jdbcType=INTEGER},
      ctpnum = #{ctpnum,jdbcType=INTEGER}
    where ctpid = #{ctpid,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      根据主键查询
    -->
    select ctpid, lid, comid, ctpnum
    from sp_commoditytopro
    where ctpid = #{ctpid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      查询全部
    -->
    select ctpid, lid, comid, ctpnum
    from sp_commoditytopro
  </select>
</mapper>