<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.mdao.SpCommoditypropertyMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.SpCommodityproperty">
    <id column="cpyid" jdbcType="INTEGER" property="cpyid" />
    <result column="cpyname" jdbcType="VARCHAR" property="cpyname" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      根据主键删除
    -->
    delete from sp_commodityproperty
    where cpyid = #{cpyid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.demo.pojo.SpCommodityproperty">
    <!--
      WARNING - @mbg.generated
      新增
    -->
    insert into sp_commodityproperty (cpyid, cpytopid, cpyname
      )
    values (#{cpyid,jdbcType=INTEGER}, #{cpytopid,jdbcType=INTEGER}, #{cpyname,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.SpCommodityproperty">
    <!--
      WARNING - @mbg.generated
      根据主键修改
    -->
    update sp_commodityproperty
    set cpytopid = #{cpytopid,jdbcType=INTEGER},
      cpyname = #{cpyname,jdbcType=VARCHAR}
    where cpyid = #{cpyid,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      根据主键查询
    -->
    select cpyid, cpyname
    from sp_commodityproperty
    where cpyid = #{cpyid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      查询全部
    -->
    select cpyid, cpyname
    from sp_commodityproperty
  </select>
</mapper>