<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.mdao.SpPicturetoproMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.SpPicturetopro">
    <id column="ptpid" jdbcType="INTEGER" property="ptpid" />
    <result column="lid" jdbcType="INTEGER" property="lid" />
    <result column="picid" jdbcType="INTEGER" property="picid" />
    <result column="ptpiszhu" jdbcType="INTEGER" property="ptpiszhu" />
  </resultMap>

  <insert id="insertInfo" parameterType="com.demo.pojo.SpPicturetopro">
    insert into sp_picturetopro (ptpid, lid, picid,ptpiszhu)
    values (null, #{s.product.lid}, #{s.picture.picid},#{s.ptpiszhu})
  </insert>

</mapper>