<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.mdao.SpProductMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.SpProduct">
    <id column="lid" jdbcType="INTEGER" property="lid" />
    <result column="lname" jdbcType="VARCHAR" property="lname" />
    <result column="lguige" jdbcType="VARCHAR" property="lguige" />
    <result column="ldanwei" jdbcType="VARCHAR" property="ldanwei" />
    <result column="ltiaoma" jdbcType="INTEGER" property="ltiaoma" />
    <result column="lchengben" jdbcType="DECIMAL" property="lchengben" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
  </resultMap>

  <resultMap id="BaseResultMapAndPic" type="com.demo.pojo.SpProduct">
    <id column="lid" jdbcType="INTEGER" property="lid" />
    <result column="lname" jdbcType="VARCHAR" property="lname" />
    <result column="lguige" jdbcType="VARCHAR" property="lguige" />
    <result column="ldanwei" jdbcType="VARCHAR" property="ldanwei" />
    <result column="ltiaoma" jdbcType="INTEGER" property="ltiaoma" />
    <result column="lchengben" jdbcType="DECIMAL" property="lchengben" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <collection property="picturetopro" ofType="com.demo.pojo.SpPicturetocom">
      <id column="ptcid" jdbcType="INTEGER" property="ptcid" />
      <result column="ptciszhu" jdbcType="INTEGER" property="ptciszhu" />
      <association property="pic" javaType="com.demo.pojo.SpPicture">
        <id column="picid" jdbcType="INTEGER" property="picid" />
        <result column="picpath" jdbcType="VARCHAR" property="picpath" />
      </association>
    </collection>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      根据主键删除
    -->
    delete from sp_product
    where lid = #{lid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.demo.pojo.SpProduct">
    <!--
      商家动态添加自家的新产品：
    -->
    insert into sp_product (lid, cid2, lname, 
      lguige, ldanwei, ltiaoma, 
      lchengben, cid)
    values (#{lid,jdbcType=INTEGER}, #{cid2,jdbcType=INTEGER}, #{lname,jdbcType=VARCHAR}, 
      #{lguige,jdbcType=VARCHAR}, #{ldanwei,jdbcType=VARCHAR}, #{ltiaoma,jdbcType=INTEGER}, 
      #{lchengben,jdbcType=DECIMAL}, #{cid,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.SpProduct">
    <!--
      WARNING - @mbg.generated
      修改
    -->
    update sp_product
    set cid2 = #{cid2,jdbcType=INTEGER},
      lname = #{lname,jdbcType=VARCHAR},
      lguige = #{lguige,jdbcType=VARCHAR},
      ldanwei = #{ldanwei,jdbcType=VARCHAR},
      ltiaoma = #{ltiaoma,jdbcType=INTEGER},
      lchengben = #{lchengben,jdbcType=DECIMAL},
      cid = #{cid,jdbcType=INTEGER}
    where lid = #{lid,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      根据主键查询
    -->
    select lid, cid2, lname, lguige, ldanwei, ltiaoma, lchengben, cid
    from sp_product
    where lid = #{lid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      查询全部单品
    -->
    select lid, cid2, lname, lguige, ldanwei, ltiaoma, lchengben, cid
    from sp_product
  </select>

  <select id="selectAllBuPic" resultMap="BaseResultMapAndPic">
    <!--
      WARNING - @mbg.generated
      关联图片的额的查询全部单品
    -->
    select p.lid, p.lname, p.lguige, p.ldanwei, p.ltiaoma, p.lchengben, p.cid,pp.ptpid,pp.ptpiszhu,c.picid, c.pisid, c.picpath
    from sp_product p
    left join sp_picturetopro pp on p.lid=pp.lid
    left join sp_picture c on c.picid=pp.picid
    where pp.ptpiszhu = 1
    <if test="tiaojian!=null and tiaojian!=''and tiaojian=='lname' and canshu!=null and canshu!=''">
      and p.${tiaojian} like concat('%',#{canshu,jdbcType=VARCHAR},'%')
    </if>
    <if test="tiaojian!=null and tiaojian!=''and tiaojian=='ltiaoma' and canshu!=null and canshu!=''">
      and p.${tiaojian} = #{canshu,jdbcType=VARCHAR}
    </if>
    order by p.lid desc
  </select>
</mapper>