<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.mdao.SpProductMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.SpProduct">
    <id column="lid" jdbcType="INTEGER" property="lid" />
    <result column="cid2" jdbcType="INTEGER" property="cid2" />
    <result column="lname" jdbcType="VARCHAR" property="lname" />
    <result column="lguige" jdbcType="VARCHAR" property="lguige" />
    <result column="ldanwei" jdbcType="VARCHAR" property="ldanwei" />
    <result column="ltiaoma" jdbcType="INTEGER" property="ltiaoma" />
    <result column="lchengben" jdbcType="DECIMAL" property="lchengben" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
  </resultMap>

  <resultMap id="BaseResultMapAndPic" type="com.demo.pojo.SpProduct">
    <id column="lid" jdbcType="INTEGER" property="lid" />
    <result column="lname" jdbcType="VARCHAR" property="lname" />
    <result column="lguige" jdbcType="VARCHAR" property="lguige" />
    <result column="ldanwei" jdbcType="VARCHAR" property="ldanwei" />
    <result column="ltiaoma" jdbcType="INTEGER" property="ltiaoma" />
    <result column="lchengben" jdbcType="DECIMAL" property="lchengben" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <collection property="picturetopro" ofType="com.demo.pojo.SpPicturetocom">
      <id column="ptcid" jdbcType="INTEGER" property="ptcid" />
      <result column="ptciszhu" jdbcType="INTEGER" property="ptciszhu" />
      <association property="pic" javaType="com.demo.pojo.SpPicture">
        <id column="picid" jdbcType="INTEGER" property="picid" />
        <result column="picpath" jdbcType="VARCHAR" property="picpath" />
      </association>
    </collection>
  </resultMap>

  <resultMap id="BaseResultMapvo" type="com.demo.pojo.vo">
    <id column="lid" jdbcType="INTEGER" property="lid" />
    <result column="cid2" jdbcType="INTEGER" property="cid2" />
    <result column="lname" jdbcType="VARCHAR" property="lname" />
    <result column="lguige" jdbcType="VARCHAR" property="lguige" />
    <result column="ldanwei" jdbcType="VARCHAR" property="ldanwei" />
    <result column="ltiaoma" jdbcType="INTEGER" property="ltiaoma" />
    <result column="lchengben" jdbcType="DECIMAL" property="lchengben" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="cfid" jdbcType="INTEGER" property="cfid" />
    <result column="picpath" jdbcType="INTEGER" property="picpath" />
  </resultMap>

  <select id="selectAllBylname" resultMap="BaseResultMapvo">
    <!--
      查询单品表及其分类
    -->
    select * from sp_product p
    <where>
      <if test="lname!=null and lname!=''">
         and p.lname like concat('%',#{lname},'%')
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      根据主键删除
    -->
    delete from sp_product
    where lid = #{lid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.demo.pojo.SpProduct" keyProperty="lid" useGeneratedKeys="true">
    <!--
      新增单品
    -->
    insert into sp_product (lid, cid2, lname, 
      lguige, ldanwei, ltiaoma, 
      lchengben, cid)
    values (null, #{p.prs.cid2}, #{p.lname},#{p.lguige}, #{p.ldanwei}, #{p.ltiaoma},
      #{p.lchengben}, #{p.cid})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.SpProduct">
    <!--
      WARNING - @mbg.generated
      修改
    -->
    update sp_product
    set cid2 = #{cid2,jdbcType=INTEGER},
      lname = #{lname,jdbcType=VARCHAR},
      lguige = #{lguige,jdbcType=VARCHAR},
      ldanwei = #{ldanwei,jdbcType=VARCHAR},
      ltiaoma = #{ltiaoma,jdbcType=INTEGER},
      lchengben = #{lchengben,jdbcType=DECIMAL},
      cid = #{cid,jdbcType=INTEGER}
    where lid = #{lid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select lid, cid2, lname, lguige, ldanwei, ltiaoma, lchengben, cid
    from sp_product
    where lid = #{lid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMapvo">
    <!--
      查询单品表及其分类,图片
    -->
    select p.*,c.*,s.*
    from sp_product p
    left join sp_picturetopro pp on p.lid=pp.lid
    left join sp_picture c on c.picid=pp.picid
    LEFT JOIN sp_productsort s on p.cid2=s.cid2
    <where>
      <if test="id!=null and id!=''">
        and s.cid2=#{id}
      </if>
    </where>
  </select>

  <select id="selectAllBuPic" resultMap="BaseResultMapAndPic">
    <!--
      WARNING - @mbg.generated
      关联图片的额的查询全部单品
    -->
    select p.lid, p.lname, p.lguige, p.ldanwei, p.ltiaoma, p.lchengben, p.cid,pp.ptpid,pp.ptpiszhu,c.picid, c.pisid, c.picpath
    from sp_product p
    left join sp_picturetopro pp on p.lid=pp.lid
    left join sp_picture c on c.picid=pp.picid
    where pp.ptpiszhu = 1
    <if test="tiaojian!=null and tiaojian!=''and tiaojian=='lname' and canshu!=null and canshu!=''">
      and p.${tiaojian} like concat('%',#{canshu,jdbcType=VARCHAR},'%')
    </if>
    <if test="tiaojian!=null and tiaojian!=''and tiaojian=='ltiaoma' and canshu!=null and canshu!=''">
      and p.${tiaojian} = #{canshu,jdbcType=VARCHAR}
    </if>
    order by p.lid desc
  </select>

  <!--新增库存表-->
  <insert id="insertkucun">
    insert into inventory (inid,lid,inentity,inoccupy,inusable,maxcount) values (null,#{i.product.lid},#{i.inentity},#{i.inoccupy},#{i.inusable},#{i.maxcount})
  </insert>

  <!--修改单品-->
  <update id="updateproduct">
        update sp_product
    set lname = #{p.lname},
      lguige = #{p.lguige},
      ldanwei = #{p.ldanwei},
      ltiaoma = #{p.ltiaoma},
      lchengben = #{p.lchengben},
      cid = #{p.cid}
    where lid = #{p.lid}
  </update>
</mapper>